<p>===================================================</p>
<p>Hello, <%=@user.email_address%></p>
<p>Some one has made a request to change your password.</p>
<p>If you confirm that person is you, and want to change</p>
<p>your password @ ThoughtApp.com then click link below:</p>

<% @user.recent_reset_request = true%>
<% @user.save%>

<p><%= link_to "Change Password", 'http://localhost:3000/password/change_password_form' %></p>

